<form #form="ngForm" aria-labelledby="title">
  <div class="form-control-group">
    <input
      nbInput
      fullWidth
      type="password"
      [(ngModel)]="user.password"
      #password="ngModel"
      name="password"
      id="input-password"
      placeholder="Password"
      pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[^a-zA-Z0-9]).{8,}"
      [required]="true"
      [status]="password.dirty ? (password.invalid ? 'danger' : 'success') : ''"
      [attr.aria-invalid]="password.invalid && password.touched ? true : null"
      (keyup)="matchPattern(user.confirmPassword)"
    />
    <ng-container *ngIf="password.invalid">
      <p class="caption status-danger" *ngIf="password.touched && password.errors?.required">
        Password is required.
      </p>
      <p class="caption status-danger" *ngIf="password.errors?.pattern">
        Password must be at least 8 characters and contain at least an
        uppercase,a lowercase, a numeric and a special character
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <input
      nbInput
      fullWidth
      type="password"
      [(ngModel)]="user.confirmPassword"
      #confirmPassword="ngModel"
      name="confirmPassword"
      id="input-confirm-password"
      placeholder="Confirm Password"
      (keyup)="matchPattern(user.confirmPassword)"
      [required]="true"
      [status]="
        confirmPassword.dirty
          ? confirmPasswordError
            ? 'danger'
            : 'success'
          : ''
      "
      [attr.aria-invalid]="
        confirmPassword.invalid && confirmPassword.touched ? true : null
      "
    />
    <ng-container>
      <p class="caption status-danger" *ngIf="confirmPassword.errors?.required && confirmPassword.touched">
        Password is required.
      </p>
      <p
        class="caption status-danger"
        *ngIf="confirmPasswordError"
      >
        Password do not match
      </p>
    </ng-container>
  </div>
  <div class="text-right">
    <a
      class="d-inline-block back-to-login caption-2"
      (click)="navigateToSponsorLogin()"
      >Back to Log In</a
    >
    <button
      nbButton
      status="danger"
      [disabled]="
        !form.valid || loading || buttonDisable || confirmPasswordError
      "
      [nbSpinner]="loading"
      nbSpinnerStatus="danger"
      nbSpinnerSize="small"
      (click)="setPassword(form)"
    >
      Submit
    </button>
  </div>
</form>
