@import '../../../theme/styles/themes';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.mat-form-field,
.mat-select {
  font-family: nb-theme(font-family-primary);
  color: nb-theme(color-basic-800);
  font-size: nb-theme(text-paragraph-font-size);
}
.mat-form-field {
  line-height: 1.3;
}
