@import '../../theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'flatpickr/dist/flatpickr.css';
@import 'flatpickr/dist/themes/airbnb.css';

.nb-theme-default {
  nb-sidebar.left {
    z-index: 99;
  }
  .address-book-ui {
    .main-bg {
      padding: 21px 30px 20px;

      @include media-breakpoint-down(sm) {
        padding: 21px 30px 20px;
      }
      @include media-breakpoint-down(xs) {
        padding: 21px 15px 20px;
      }
      nb-form-field {
        position: relative;

        [nbInput].status-basic {
          background-color: nb-theme(background-basic-color-1);
          border: 1px solid nb-theme(border-basic-color-4);
        }

        button {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border: 1px solid nb-theme(border-basic-color-4) !important;
        }
      }
    }
    .custom-tabs {
      position: relative;
      padding-top: 0;

      nb-tabset {
        nb-tab {
          min-height: 600px;
          padding: 1rem 2rem !important;

          @include media-breakpoint-down(sm) {
            padding: 1rem !important;
          }
        }

        .tabset {
          position: absolute;
          top: -49px;
          right: 32px;
          border: 0;

          @include media-breakpoint-down(sm) {
            position: static;
            padding: 0;
            margin: 15px 0 0 15px;
          }

          .tab-link {
            padding: 10px 20px;
            padding-bottom: 10px;
            margin-left: 0;
          }
        }
        .tab {
          float: left;

          .tab-link {
            font-size: nb-theme(text-paragraph-2-font-size);
            border: 1px solid nb-theme(border-basic-color-4);
            background-color: nb-theme(background-basic-color-1);
            color: nb-theme(color-basic-600);
            text-transform: capitalize;

            &:hover {
              color: nb-theme(color-basic-600);
            }
            &:before {
              height: 2px;
              background-color: transparent;
            }
          }
          &:first-child .tab-link {
            border-radius: 0.25rem 0 0 0.25rem;
            border-right: 0;
          }
          &:last-child .tab-link {
            border-radius: 0 0.25rem 0.25rem 0;
            border-left: 0;
          }
          &.active .tab-link {
            background-color: nb-theme(default-theme-color);
            color: nb-theme(color-basic-100);
          }
          &:focus {
            outline: 0;
          }
        }
      }

      .no-record-found {
        text-transform: capitalize;
        font-size: 26px;
        color: nb-theme(color-basic-600);
        text-shadow: 0px 1px 0px nb-theme(color-basic-100);
      }
      nb-card {
        nb-badge {
          width: 12px !important;
          height: 12px;
          overflow: hidden;
          border-radius: 100%;
          padding: 0;
          right: -1px;
          text-indent: -99999px;
          top: 10px;
          border: 2px solid #fff;

          &.status-basic {
            background-color: nb-theme(action-border-color);
          }
        }
      }
    }

    .contact-list {
      margin-left: -8px;
      margin-right: -8px;

      > div {
        padding: 0 8px;
        margin-bottom: 16px !important;
      }
      nb-card {
        padding: 1rem;
        margin-bottom: 0;
        border: 0;
        box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
        position: relative;
      }
      nb-user {
        cursor: pointer;

        .user-container {
          width: 100%;

          .info-container {
            margin-left: 1rem;
            width: calc(100% - 5rem);

            .user-name {
              font-size: nb-theme(text-paragraph-2-font-size);
              font-weight: bold;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              text-transform: capitalize;
            }
            .user-title {
              color: nb-theme(color-basic-600);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
        &.size-medium .user-picture {
          height: 4rem;
          width: 4rem;
          font-size: nb-theme(text-paragraph-font-size);
        }
        nb-badge {
          width: 14px !important;
          height: 14px;
          overflow: hidden;
          border-radius: 100%;
          padding: 0;
          top: 6px;
          right: 0px;
          text-indent: -99999px;
        }
      }
      .button-group {
        padding: 0 12px 0;
        margin: 15px -16px 0;
        border-top: 1px solid #e8e8e8;

        button.btn-round {
          border-radius: 0.25rem;
          background-color: nb-theme(background-basic-color-1);
          color: nb-theme(color-basic-600);
          margin-right: 10px;
          margin-top: 15px;
          border-color: nb-theme(color-basic-500);
          padding: 0.4525rem 0.4rem !important;
          box-shadow: 0px 0px 3px 0px rgba(127, 127, 127, 0.5);

          &:disabled {
            background-color: nb-theme(background-basic-color-3) !important;
            border-color: nb-theme(color-basic-300) !important;
            color: nb-theme(color-basic-600);
          }

          &:hover {
            &:disabled {
              background-color: nb-theme(background-basic-color-2) !important;
              color: nb-theme(color-basic-600) !important;
            }
          }

          &.btn-voice {
            background-color: nb-theme(background-basic-color-1);
            &:hover {
              background-color: nb-theme(default-theme-color);
              color: nb-theme(color-basic-100);
              border-color: nb-theme(default-theme-color);
            }
            &:active,
            &:focus {
              background-color: nb-theme(color-danger-600);
              color: nb-theme(color-basic-100);
            }
          }

          &.btn-video {
            background-color: nb-theme(background-basic-color-1);

            &:hover {
              background-color: nb-theme(default-theme-color);
              color: nb-theme(color-basic-100);
              border-color: nb-theme(default-theme-color);
            }
            &:active,
            &:focus {
              background-color: nb-theme(color-danger-600);
              color: nb-theme(color-basic-100);
            }
          }

          &.btn-calender {
            background-color: nb-theme(background-basic-color-1);

            &:hover {
              background-color: nb-theme(default-theme-color);
              color: nb-theme(color-basic-100);
              border-color: nb-theme(default-theme-color);
            }
            &:active,
            &:focus {
              background-color: nb-theme(color-danger-600);
              color: nb-theme(color-basic-100);
            }
          }

          &:focus {
            box-shadow: none;
          }

          &[nbButton].size-small nb-icon {
            height: 1.2rem;
            width: 1.2rem;
          }
        }
      }
    }

    .no-layout-pdng {
      margin: -2.2rem -2.2rem -0.5rem;
      padding: 0 !important;

      @include media-breakpoint-down(md) {
        margin: -1.5rem -1.5rem 0.5rem;
      }

      @include media-breakpoint-down(sm) {
        margin: -1rem -1rem 0;
      }
      @include media-breakpoint-down(xs) {
        margin: -0.75rem -0.75rem 0;
      }

      .title-header {
        font-size: 26px;
        margin-bottom: 0px;
      }

      .header-search {
        margin-top: -20px;
        position: relative;
        top: 10px;
        right: 188px;

        @include media-breakpoint-down(sm) {
          right: 0;
        }
        @media screen and (max-width: 568px) {
          padding: 0;
          margin-top: 5px;
        }
      }
    }
    .no-margins {
      margin-left: 0;
      margin-right: 0;
      padding: 0;

      > div {
        padding: 0;
      }
    }
    .star-mark {
      vertical-align: middle;
      display: inline-block;
      color: nb-theme(color-basic-500);
      position: absolute;
      top: 5px;
      right: 12px;
      margin: 0;
      z-index: 1;

      nb-icon.icon-unmark {
        position: absolute;
        top: 0;
        right: 0;
        color: nb-theme(color-basic-500);
      }
      nb-icon.icon-mark {
        position: absolute;
        top: 0;
        right: 0;
        visibility: hidden;
        z-index: -1;
        color: nb-theme(color-warning-500);
      }
      &:hover,
      &.active {
        nb-icon.icon-unmark {
          visibility: hidden;
          z-index: -1;
        }
        nb-icon.icon-mark {
          visibility: visible;
          z-index: 1;
        }
      }
    }
  }
}
