<div class="container reset-forgot">
  <div class="row">
    <div class="col-sm-5 login-ui-left col">
      <div class="logo-container">
        <div class="main-logo">
          <h1 class="text-center">
            <img
              src="./../../assets/logo/kyodome-logo-white.png"
              alt="Kyodome"
            />
          </h1>
          <h4 class="title">vmsl.live</h4>
        </div>
        <div class="d-flex align-items-center">
          <div class="login-para">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="col-sm-7 login-ui-right p-0">
      <div class="custom-content">
        <p class="title mb-3">Complete Registration</p>
        <div class="alert alert-info text-center">
          Please do not refresh the page.
        </div>
        <vmsl-password
          [button-disable]="token ? false : true"
          (submitPassword)="setPassword($event)"
        ></vmsl-password>
      </div>
    </div>
  </div>
</div>
