<span
  class="days-color"
  title="Sunday"
  [ngClass]="{'color-green': availabilityDay.includes('sunday')}"
  >S</span
>
<span
  class="days-color"
  title="Monday"
  [ngClass]="{'color-green': availabilityDay.includes('monday')}"
  >M</span
>
<span
  class="days-color"
  title="Tuesday"
  [ngClass]="{'color-green': availabilityDay.includes('tuesday')}"
  >T</span
>
<span
  class="days-color"
  title="Wednesday"
  [ngClass]="{'color-green': availabilityDay.includes('wednesday')}"
  >W</span
>
<span
  class="days-color"
  title="Thursday"
  [ngClass]="{'color-green': availabilityDay.includes('thursday')}"
  >T</span
>
<span
  class="days-color"
  title="Friday"
  [ngClass]="{'color-green': availabilityDay.includes('friday')}"
  >F</span
>
<span
  class="days-color"
  title="Saturday"
  [ngClass]="{'color-green': availabilityDay.includes('saturday')}"
  >S</span
>
