<form #form="ngForm" novalidate class="req-meeting-form">
  <nb-card size="small">
    <nb-card-header>
      <div class="">Request Meeting</div>
    </nb-card-header>
    <nb-card-body>
      <div fxLayout="column">
        <p class="small-para"><strong>Meeting Time</strong></p>
        <div class="row event-time-row mb-3">
          <div class="col-12 mb-2">
            <ejs-datetimepicker
              ng-required
              id="startTime"
              class="e-field"
              data-name="startTime"
              format="M/dd/yy h:mm a"
              placeholder="Start"
              (change)="onStartTimeChange($event)"
              floatLabelType="Always"
              name="startTime"
              [min]="minStartTime"
              [(ngModel)]="meetingDetails.startTime"
              (created)="onCreated()"
            ></ejs-datetimepicker>
          </div>
          <div class="col-12">
            <ejs-datetimepicker
              ng-required
              id="endTime"
              class="e-field"
              data-name="endTime"
              format="M/dd/yy h:mm a"
              placeholder="End"
              name="endTime"
              [min]="minStartTime"
              floatLabelType="Always"
              [(ngModel)]="meetingDetails.endTime"
            ></ejs-datetimepicker>
          </div>
        </div>
        <div fxLayout="row">
          <div appearance="outline">
            <p class="small-para"><strong>Meeting Type</strong></p>
            <mat-radio-group
              aria-label="Select meeting type"
              name="meetingType"
              [(ngModel)]="meetingDetails.meetingType"
            >
              <mat-radio-button value="audio" class="mr-4"
                >Audio
                <nb-icon icon="phone-outline" pack="eva" class="ml-2"></nb-icon>
              </mat-radio-button>
              <mat-radio-button value="video"
                >Video
                <nb-icon icon="video-outline" pack="eva" class="ml-2"></nb-icon
              ></mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="p-0">
      <div
        class="d-flex justify-content-between footer-buttons"
        ngClass.lt-sm="row"
      >
        <div class="col-6">
          <button
            nbButton
            ghost
            fullWidth
            status="basic"
            (click)="close()"
          >
            Cancel
          </button>
        </div>
        <div class="col-6">
          <button
            nbButton
            ghost
            fullWidth
            status="success"
            [disabled]="loading"
            (click)="requestMeeting()"
          >
            Request
          </button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
