<div class="print-container">
  <div class="print-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="logo">
        <img src="assets/logo/kyodome-logo-symbol.png" alt="Logo" />
        <span>vmsl.live</span>
      </div>
      <div>{{ currentUserName }}</div>
    </div>
  </div>
  <div class="print-subject">
    <strong>{{ mailLoopModel.subject }}</strong>
    <span>{{ mailLoopModel.messages?.length }} Messages</span>
  </div>
  <div *ngFor="let mail of mailLoopModel.messages" class="print-body">
    <div class="body-info">
      <div class="d-flex justify-content-between">
        <div class="print-email-info">
          <strong>{{ mail.fromName }}</strong>
          <br />
          To: {{ mail.combinedToList }}<br />
          <span *ngIf="mail.combinedCcList?.length"
            >CC: {{ mail.combinedCcList }}
          </span>
          <br />
          <span *ngIf="mail.combinedBccList?.length"
            >BCC: {{ mail.combinedBccList }}</span
          >
        </div>
        <div class="print-date-info">{{ mail.extendedFormattedTime }}</div>
      </div>
      <div class="message-area">
        <p [innerHtml]="mail.htmlContent"></p>
      </div>
    </div>
  </div>
</div>
