<div class="site-footer-menu">
  <ul>
    <li>
      <a
        href="https://www.vmsl.live/terms-and-conditions"
        target="_blank"
        rel="noopener noreferrer"
        >Terms and Conditions</a
      >
    </li>
    <li>
      <a
        href="https://www.vmsl.live/privacy-policy"
        target="_blank"
        rel="noopener noreferrer"
        >Privacy Policy</a
      >
    </li>
    <li>
      <a
        href="https://www.vmsl.live/support"
        target="_blank"
        rel="noopener noreferrer"
      >
        Support</a
      >
    </li>
    <li>
      <a
        href="https://www.vmsl.live/connect"
        target="_blank"
        rel="noopener noreferrer"
        >Contact Us</a
      >
    </li>
    <li>
      © 2020
      <a
        href="https://www.soterius.com/"
        target="_blank"
        rel="noopener noreferrer"
        >Soterius</a
      >, Inc. All Rights Reserved
    </li>
  </ul>
</div>
