@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes';

$nb-enabled-themes: (default);

$nb-themes: nb-register-theme(
  (
    default-theme-color: #ed1c24,
    header-text-color: #fff,
    menu-item-hover-text-color: #ed1c24,
    menu-item-icon-hover-color: #ed1c24,
    menu-item-active-text-color: #ed1c24,
    menu-item-icon-active-color: #ed1c24,
    sidebar-header-height: initial,
    sidebar-footer-height: initial,
    sidebar-menu-item-highlight-color: #ed1c24,
    action-border-color: #dfdfdf,
    actions-medium-padding: 0 0.55rem,
    header-height: 2.75rem,
    header-padding: 0 1rem 0,
    custom-list-item-padding: 0.6rem,
    menu-text-font-size: 0.9375rem,
    menu-item-icon-color: 222b45,
    user-medium-name-text-line-height: 1.56rem,
    user-medium-title-text-font-size: 0.8125rem,
    menu-text-color: color-basic-800,
    scrollbar-color: color-basic-500,
    color-primary-400: #5aa4e2,
    color-primary-500: #458dc9,
    color-primary-600: #336e9e,
    color-info-400: #5aa4e2,
    color-info-500: #024691,
    color-info-600: #336e9e,
    color-turquoise-400: #03d0d8,
    color-turquoise-500: #07bbc2,
    color-turquoise-600: #00969c,
    color-warning-400: #e9c451,
    color-warning-500: #ffc81e,
    color-warning-600: #deab0d,
    color-success-400: #68ab73,
    color-success-500: #5c9d67,
    color-suceess-600: #508e5b,
    color-danger-400: #e53939,
    color-danger-500: #ed1c24,
    color-danger-600: #b80000,
    header-shadow: 0 0.2rem 0.5rem 0 rgba(44, 51, 73, 0.1),
    sidebar-padding: 0.66rem 1.25rem,
    calender-blue-color: color-info-500,
    calender-grey-color: #9f9f9f,
    calender-red-color: #ed1c24,
    calender-green-color: #5c9d67,
    conference-grey-color: #6f6f6f,
    conference-completed-color: #eaeaea,
    conference-dard-grey-color: #141414,
    conference-OT-color: #353535,
    conference-OT-trans-color: rgba(53, 53, 53, 0.8),
    conference-transparent-color: rgba(20, 20, 20, 0.8),
    placeholder-color: rgba(0, 0, 0, 0.54),
    login-screens-bg: #1b1b1b,
    actions-small-padding: 0 0.7rem,
  ),
  default,
  default
);
