@import '../../../../theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@import '~@ng-select/ng-select/themes/material.theme.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'flatpickr/dist/flatpickr.css';
@import 'flatpickr/dist/themes/airbnb.css';

.nb-theme-default {
  nb-sidebar.left {
    z-index: 99;
  }

  .team-missed-call-reports {
    .main-bg {
      padding: 21px 22px 20px;

      @include media-breakpoint-down(sm) {
        padding: 21px 22px 20px;
      }
      @include media-breakpoint-down(xs) {
        padding: 21px 15px 20px;
      }

      .buttons-mrgn-top {
        height: 20px;

        > div {
          margin-top: -6px;
        }

        button.v-align-middle {
          nb-icon {
            font-size: 16px;
          }
        }

        @media screen and (max-width: 479px) {
          height: auto;

          > div {
            margin-top: 15px;
          }
        }
      }
    }

    .no-layout-pdng {
      margin: -2.2rem -2.2rem -0.5rem;
      padding: 0 !important;

      @include media-breakpoint-down(md) {
        margin: -1.5rem -1.5rem 0.5rem;
      }

      @include media-breakpoint-down(sm) {
        margin: -1rem -1rem 0;
      }
      @include media-breakpoint-down(xs) {
        margin: -0.75rem -0.75rem 0;
      }

      .title-header {
        font-size: 26px;
        margin-bottom: 0;

        @media screen and (max-width: 479px) {
          line-height: 26px;
        }

        .row {
          > div {
            @media screen and (max-width: 479px) {
              width: 100%;
              max-width: 100%;
              flex: 0 0 100%;
              float: none;
              display: block;
            }
          }
        }
      }
    }

    .mat-form-field,
    .mat-select,
    .mat-button,
    .mat-raised-button,
    .mat-icon-button,
    .mat-stroked-button,
    .mat-flat-button,
    .mat-fab,
    .mat-mini-fab,
    .mat-menu-item,
    .mat-option {
      font-family: nb-theme(font-family-primary);
      color: nb-theme(color-basic-800);
      font-size: nb-theme(text-paragraph-font-size);
    }
    .mat-form-field {
      line-height: 1.3;
    }

    .ng-select .ng-select-container.ng-appearance-outline {
      min-height: 63px;
    }
    .ng-select.ng-select-single
      .ng-select-container
      .ng-value-container
      .ng-input {
      padding: 0 10px;
      bottom: 16px;
    }
    .ng-select .ng-has-value .ng-placeholder,
    .ng-select.ng-select-opened .ng-placeholder {
      transform: translateY(-1.28125em) scale(0.75) perspective(100px)
        translateZ(0.001px);
    }
    .ng-select .ng-select-container.ng-appearance-outline:after {
      height: calc(100% - 0.3em);
      bottom: 1px;
    }
    .ng-select .ng-select-container.ng-appearance-outline .ng-placeholder {
      color: nb-theme(placeholder-color);
    }
    .ng-select .ng-select-container .ng-value-container {
      border-top: 0.94375em solid transparent;
    }
    .ng-select.ng-select-multiple
      .ng-select-container.ng-appearance-outline
      .ng-arrow-wrapper {
      top: -2px;
    }
    .ng-select.ng-select-multiple
      .ng-select-container
      .ng-value-container
      .ng-value
      .ng-value-label {
      font-size: nb-theme(text-paragraph-font-size);
    }
    .ng-select .ng-select-container.ng-appearance-outline .ng-value {
      padding-top: 5px;
    }
    .ng-select.ng-select-single
      .ng-select-container.ng-appearance-outline
      .ng-arrow-wrapper {
      bottom: 22px;
    }
    .ng-select.ng-select-single
      .ng-select-container.ng-appearance-outline
      .ng-clear-wrapper {
      bottom: 17px;
    }

    .ng-select.ng-invalid.ng-touched
      .ng-select-container.ng-appearance-outline:after {
      border: 2px solid #f44336;
    }
    .ng-select.ng-invalid.ng-touched
      .ng-select-container.ng-appearance-outline
      .ng-placeholder {
      color: #f44336;
    }

    .ng-dropdown-panel {
      min-width: 100%;
      max-width: 300px;
    }

    .flatpickr-calendar {
      font-family: nb-theme(font-family-primary);
      color: nb-theme(color-basic-800);
      font-size: nb-theme(text-paragraph-2-font-size) !important;
    }
    .page-count {
      text-align: right;
      padding-right: 20px;
      font-weight: normal;
      font-family: nb-theme(font-family-primary);
      color: nb-theme(color-basic-800);
      font-size: nb-theme(text-paragraph-2-font-size);
      line-height: normal;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;

      th,
      td {
        text-align: center;
        padding: 16px;
      }

      th:first-child,
      td:first-child {
        text-align: left;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    }
    .no-scroll {
      overflow: visible;
    }
  }
  .cdk-global-overlay-wrapper .cdk-overlay-pane {
    @media screen and (max-width: 479px) {
      display: block;
    }
  }
  .view-logs-change-dialog {
    @include media-breakpoint-down(sm) {
      width: 90%;
      margin: auto;
    }

    nb-card.size-medium {
      @media screen and (min-width: 769px) and (max-width: 991px) {
        height: 21.1875rem;
      }

      @include media-breakpoint-down(sm) {
        height: 21.1875rem;
      }
      @media screen and (max-width: 479px) {
        height: 31.1875rem;
      }
      nb-card-body {
        overflow: auto !important;
      }
    }
  }
  .no-show-events-dialog {
    width: 1000px;
    max-width: 90%;
    margin: auto;

    @include media-breakpoint-down(md) {
      width: 800px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      max-width: 100%;
      margin: 10px auto;
    }

    nb-card.size-medium {
      height: 25.875rem;
      @include media-breakpoint-down(md) {
        height: 28.875rem;
      }
      @media screen and (min-width: 769px) and (max-width: 991px) {
        height: 65vh;
        overflow: auto;
      }
      @include media-breakpoint-down(sm) {
        height: 65vh;
        overflow: auto;
      }
      @media screen and (max-width: 600px) {
        height: 65vh;
        overflow: auto;
      }
      @media screen and (max-width: 479px) {
        height: 28.875rem;
      }
    }
  }
  .bdr-top {
    border-top: 1px solid nb-theme(color-basic-default-border);
  }
  .hide-per-page {
    .items-per-page {
      display: none;
    }
  }
}
