@import '../../theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@ng-select/ng-select/themes/material.theme.css';

.nb-theme-default {
  nb-sidebar.left {
    z-index: 99;
  }

  .view-my-profile-ui {
    .main-bg {
      padding: 21px 22px 20px;

      @include media-breakpoint-down(sm) {
        padding: 21px 22px 20px;
      }
      @include media-breakpoint-down(xs) {
        padding: 21px 15px 20px;
      }

      .buttons-mrgn-top {
        height: 20px;

        > div {
          margin-top: -6px;
        }
      }
    }

    .no-layout-pdng {
      margin: -2.2rem -2.2rem -0.5rem;
      padding: 0 !important;

      @include media-breakpoint-down(md) {
        margin: -1.5rem -1.5rem 0.5rem;
      }

      @include media-breakpoint-down(sm) {
        margin: -1rem -1rem 0;
      }
      @include media-breakpoint-down(xs) {
        margin: -0.75rem -0.75rem 0;
      }

      .title-header {
        font-size: 26px;
        margin-bottom: 0;
      }
    }

    .no-card-bg {
      background-color: transparent;
      border: 0;
      padding: 0;
      overflow: visible;

      nb-card-body {
        padding: 0;
        overflow: visible;
      }

      .profile-header {
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        background-color: nb-theme(background-basic-color-1);
        padding: 1.5rem;
        border-radius: 0.25rem;

        nb-user {
          align-items: center;
          justify-content: center;
          margin-bottom: 25px;
          &.size-giant {
            .user-picture {
              height: 6rem;
              width: 6rem;
              background-position: center center;
            }
          }
        }
        .edit-profile-container {
          position: relative;
          .edit-profile-icon {
            opacity: 1;
            transition: all 0.3s ease;

            @include media-breakpoint-down(md) {
              opacity: 1;
            }

            button {
              position: absolute;
              top: 0;
              margin-left: 12px;
              border-radius: 100%;

              &:focus {
                box-shadow: none;
              }
            }
          }
          &:hover {
            .edit-profile-icon {
              opacity: 1;
            }
          }
        }
        .icon-mrgn nb-icon {
          margin-top: 2px;
        }
      }
      .profile-body {
        padding: 0 1rem;
        border-radius: 0.25rem;
        background-color: nb-theme(background-basic-color-1);

        > .row > div {
          padding: 20px;
          text-align: left;
          border-bottom: 1px solid nb-theme(list-item-divider-color);
          font-size: nb-theme(text-paragraph-2-font-size);

          @media screen and (max-width: 575px) {
            padding: 10px;
          }
          &.email-view {
            word-break: break-all;
          }

          @media screen and (max-width: 575px) {
            .row > div {
              padding: 10px;
              text-align: left;
              border-bottom: 1px solid nb-theme(list-item-divider-color);

              &:first-child {
                padding-top: 0;
              }
              &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
              }
            }
          }

          strong {
            font-size: nb-theme(text-paragraph-2-font-size);
            color: nb-theme(color-basic-600);
            font-weight: normal;
            display: block;
            margin-bottom: 5px;

            @include media-breakpoint-down(md) {
              display: block;
              margin-bottom: 5px;
            }
          }
          span.split-line {
            word-break: break-all;
          }

          nb-list {
            border-radius: 0.25rem;
            overflow: hidden;

            nb-list-item {
              padding: 0.5rem 1rem;
              border-left: 1px solid #edf1f7;
              border-right: 1px solid #edf1f7;
              font-size: nb-theme(text-paragraph-2-font-size);

              &:first-child {
                border-radius: 0.25rem 0.25rem 0 0;
              }
              &:last-child {
                border-radius: 0 0 0.25rem 0.25rem;
              }
              nb-icon {
                cursor: pointer;
                background: nb-theme(default-theme-color);
                color: #fff;
                border-radius: 100%;
              }
            }
          }

          .add-button {
            position: absolute;
            top: 7px;
            right: 0;

            @media screen and (max-width: 500px) {
              top: -26px;
              right: -10px;

              [nbButton].appearance-filled.size-small {
                font-size: 10px;
              }
            }
          }

          nb-tabset {
            margin: 0 -20px;
            padding: 0;

            nb-tab {
              overflow: visible;
              padding: 1rem 1.3rem;

              .add-tags {
                position: absolute;
                top: -72px;
                right: 0;

                @media screen and (max-width: 500px) {
                  top: -120px;
                  right: -10px;

                  [nbButton].appearance-filled.size-small {
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .modal-icon-header {
      min-width: 360px;
      height: 100%;

      @include media-breakpoint-down(sm) {
        min-width: 100%;
      }
      .dropzone {
        @include media-breakpoint-down(sm) {
          height: 100%;
        }
      }

      nb-icon {
        font-size: 4.25rem;
      }
    }

    .dropzone {
      .file-info {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 4px;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        font-size: nb-theme(text-paragraph-2-font-size);
      }
    }

    a {
      cursor: pointer;
    }

    .cursor {
      cursor: pointer;
    }

    .upload-profile-picture {
      max-width: 500px;
      max-height: 90vh;
      margin: auto;

      @media screen and (max-width: 720px) {
        max-width: 90%;
      }
      @media screen and (max-width: 479px) {
        max-width: 100%;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        margin: auto;
      }
      @include media-breakpoint-down(sm) {
        margin: auto;
        width: 96%;
      }
      nb-card.size-small {
        height: auto;

        @media screen and (min-width: 769px) and (max-width: 991px) {
          height: 65vh;
        }
        @include media-breakpoint-down(sm) {
          width: 414px;
          height: 65vh;
          overflow: auto;
        }
        @media screen and (max-width: 479px) {
          width: 100%;
          height: 28.875rem;
        }
      }
      .custom-mrgn {
        @include media-breakpoint-down(sm) {
          margin: 0 5px 10px;
        }
      }
    }
    .cdk-global-overlay-wrapper .cdk-overlay-pane {
      @media screen and (max-width: 479px) {
        display: block;
      }
    }
    .has-no-data {
      color: nb-theme(color-basic-500);
      font-size: nb-theme(text-paragraph-2-font-size);
      text-align: center;
      margin-bottom: 40px;
    }
    .nb-body-visible {
      overflow: visible;
    }
  }
  .ng-select .ng-select-container.ng-appearance-outline {
    min-height: 63px;
  }
  .ng-select.ng-select-single
    .ng-select-container
    .ng-value-container
    .ng-input {
    padding: 0 10px;
    bottom: 16px;
  }

  .ng-select .ng-select-container.ng-appearance-outline:after {
    height: calc(100% - 0.3em);
    bottom: 1px;
  }
  .ng-select .ng-select-container.ng-appearance-outline .ng-placeholder {
    color: nb-theme(placeholder-color);
  }
  .ng-select .ng-select-container .ng-value-container {
    border-top: 0.94375em solid transparent;
  }
  .ng-select.ng-select-multiple
    .ng-select-container.ng-appearance-outline
    .ng-arrow-wrapper {
    top: -2px;
  }
  .ng-select.ng-select-multiple
    .ng-select-container
    .ng-value-container
    .ng-value
    .ng-value-label {
    font-size: nb-theme(text-paragraph-font-size);
  }
  .ng-select .ng-select-container.ng-appearance-outline .ng-value {
    padding-top: 5px;
  }
  .ng-select.ng-select-single
    .ng-select-container.ng-appearance-outline
    .ng-arrow-wrapper {
    bottom: 22px;
  }
  .ng-select.ng-select-single
    .ng-select-container.ng-appearance-outline
    .ng-clear-wrapper {
    bottom: 17px;
  }

  .ng-select.ng-invalid.ng-touched
    .ng-select-container.ng-appearance-outline:after {
    border: 2px solid #f44336;
  }
  .ng-select.ng-invalid.ng-touched
    .ng-select-container.ng-appearance-outline
    .ng-placeholder {
    color: #f44336;
  }
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background: nb-theme(background-basic-color-2);
    color: nb-theme(color-basic-800);
    position: relative;
  }
  .ng-dropdown-panel.ng-select-multiple
    .ng-dropdown-panel-items
    .ng-option.ng-option-selected {
    background: nb-theme(background-basic-color-2);
    color: nb-theme(color-basic-800);
    position: relative;

    &:after {
      position: absolute;
      top: 14px;
      right: 1px;
      font-family: 'Font Awesome 5 Free', sans-serif;
      font-weight: 900;
      content: '\f057';
      color: nb-theme(default-theme-color);
    }
  }
}
